@model MvcClinicas.Models.PadecimientoAsociado

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Estas seguro(a) que deseas borrar este padecimiento?</h3>
<div>
    <h4>Padecimiento Asociado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsociado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Padecimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Padecimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valvula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valvula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-link" asp-action="Index">Regresar</a>
    </form>
</div>
