@model MvcClinicas.Models.Login

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLogout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLogout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
