@model IEnumerable<MvcClinicas.Models.Asociado>

@{
    ViewData["Title"] = "Index";
}

<h1>Asociados</h1>

<p>
    <a asp-action="Create">Nuevo Asociado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FolioCredencial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Emergencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FolioCredencial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Emergencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a class="btn btn-primary btn-sm"  asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
