@model MvcClinicas.Models.PadAsoComun

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PadAsoComun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPadresAsociado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPadresAsociado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsociado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adicciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adicciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HijosDTN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HijosDTN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamiliaresDTN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamiliaresDTN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExposicionToxinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExposicionToxinas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionToxinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionToxinas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
